<!DOCTYPE html>
<html lang="en" xmlns=th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bank Transaction</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h3>New Transaction</h3>
		<form action="#" th:action="@{/saveTransaction}" th:object ="${bk}" method="post">
			<input type="text" th:field ="*{id}" placeholder="ID" class="form-control mb-4 col-4">
			 
			 <input type="text" th:field ="*{amt}" placeholder="Amount" class="form-control mb-4 col-4">
			 
			 <input type="text" th:field ="*{tran}" placeholder="Transaction" class="form-control mb-4 col-4">
			 
			  
			 <button type="submit" class="btn btn-info col-2">Save</button>
			
		</form>
		<a th:href="@{/}">Back to List</a>
	</div>

</body>
</html>